html {
  box-sizing: border-box;

  font: normal 100%/1.5 Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

.icon-group {
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: center;
}

.icon-group-item {
  display: inline-block;
  margin: .3em;
  max-width: 25em;
  padding: .5em;
  width: calc(100% - .6em);

  background-color: #f2f2f2;
  border: 3px solid #ccc;
  border-radius: 80px;

  color: #333;
  text-align: left;
  vertical-align: middle;
}

.icon-group-image {
  display: inline-block;
  margin-right: .4em;
  width: 64px;

  vertical-align: middle;
}

.icon-group-body {
  display: inline-block;
  width: calc(100% - 64px - .8em);

  vertical-align: middle;
}

.icon-group-title {
  display: block;
}
